name: Run test on push to branch
on:
  push:
    branches:
      - master
jobs:
  thoth-test:
    name: Thoth Test Action
    runs-on: ubuntu-18.04
    steps:
    - name: Set slack username reference
      id: slack_username
      run: |
        if ${{contains(github.actor, 'aimee')}}; then
          echo "::set-output name=name::aimee"
        elif ${{contains(github.actor, 'john')}}; then
          echo "::set-output name=name::john-craddock"
        elif ${{contains(github.actor, 'romaco')}}; then
          echo "::set-output name=name::romaco"
        elif ${{contains(github.actor, 'yuliya')}}; then
          echo "::set-output name=name::yuliya"
        elif ${{contains(github.actor, 'stepan')}}; then
          echo "::set-output name=name::Yevmenchik Stepan"
        else
          echo "::set-output name=name::unrecognised"
        fi
    - name: echo Testing test failure
      run: echo "${{ github.actor }}"
    - uses: 8398a7/action-slack@v3
      if: failure()
      with:
        status: custom
        fields: message
        custom_payload: |
          {
            "blocks": [
          {
            "type": "section",
            "text": {
              "type": "mrkdwn",
              "text": `<@${{ steps.slack_username.outputs.name }}> your PR failed`
            }
          },
          {
            "type": "divider"
          },
              {
                "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": `https://github.com/adaptemy-repo/thoth-frontend/pull/${{ github.event.number }}`
                }
              },
              {
                "type": "divider"
              }
            ]
          }
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_TESTING_CHANNEL }} # required










#  auto-pull-request:
#    name: Pull Request Action
#    runs-on: ubuntu-latest
#    needs: [auto-test]
#    steps:
#      - name: pull-request-action
#        uses: vsoch/pull-request-action@master
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
##          BRANCH_PREFIX: "update/"
#          PULL_REQUEST_BRANCH: "development"

#name: Build and Deploy to Development Environment
#on:
#  push:
#    branches:
#      - development # Change this to your default branch
#
#jobs:
#  auto-deploy:
#    name: Deploy Action
#    runs-on: ubuntu-latest
#
#    strategy:
#      matrix:
#        node-version: [10.16.2]
#
#    steps:
#    - uses: aws-actions/configure-aws-credentials@v1
#      with:
#        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#        aws-region: eu-west-1
#    - uses: actions/checkout@master
#    - run: npm install
#    - run: npm run deploy:dev

